<h1>My情報</h1>

    <ul>
        <li>ユーザー名：<%= @user.name %></li>
    </ul>
    
    <h2>投稿一覧</h2>
    <%= @put.each do |put| %>
    <ul>
        <li><%= put.title %></li>
        <li><%= put.body %></li>
    </ul>
    <% end %>
    
    <ol>
        <li>投稿内容</li>
    </ol>
    
