<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Tweet</a>
  <form class="form-inline">
    <a class="btn btn-primary" href="#" role="button">ログインする</a>
  </form>
</nav>

<div class= "toppage">
    <h1 class="toppage-h1">Tweet</h1>
    <p class="toppages-p">Tweeは、普段の生活の中で、疑問に思ったことなどをTweetし、その事柄に対して、<br>
    知識のある方が答え、問題の解消を行うサービスです。
    </p>
</div>

<a href="#" class="btn-gradient-3d-orange">アカウント作成</a>

