<nav class="navbar navbar-dark bg-dark">
  <%= link_to "Tweet", puts_path, class:"pathnavbar-brand" %>
</nav>
<h1>質問内容詳細</h1>

<ul>
    <li><%= @put.title %></li>
    <li><%= @put.body %></li>

</ul>
