// Place all the styles related to the Puts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span {
    margin: 0px 20px 20px 0px;
   
}

.title-body {
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding:0px;
  text-align:center;
  font-size:20px;
  
  
}

.puts-title {
  border-bottom:5px solid red;
  margin-top:50px;
}

.new_form {
  margin-top:130px;
  border-bottom:5px solid red;
}

.body-2 {
  margin-bottom:30px;
}

.btn-1 {
  position: relative;
  display: inline-block;
  padding: 15px ;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  margin-top:0px;
}

.btn-1 {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.btn-2 {
  position: relative;
  display: inline-block;
  padding: 15px ;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  margin-top:30px;
}

.btn-2 {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


.new_btn li {
  display:inline;
}

.myinformation {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.myinformation:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.show_title {
  border-bottom:5px solid red;
  margin-top:100px;
}

.show_problem{
  display:inline;
}

.h2_title {
  margin-top:40px;
  border-bottom:5px solid red;
  
}

.ol {
  list-style:none;
}

.form_control-1-1 {
  width: 440px;
  height: 60px;
  margin-top:100px;
}

.form_control-2-2 {
  width: 440px;
  height: 60px;
  margin-left:auto;
  margin-right:30px;
  margin-top:30px;
}

.form_control-3-3 {
  width: 600px;
  height: 100px;
  margin-top:30px;
}

.form_control-1-4 {
  width: 600px;
  height: 100px;
  margin-top:30px;
}
