// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_control-1 {
    margin-top:30px;
}

.form_control-2{
    margin:30px 0px 50px 0px;
}

.login{
    margin-top:100px;
    border-bottom:5px solid red;
}