// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-center {
    margin-top:80px;
}

.text-center {
    border-bottom:5px solid red;
}

.new_user {
    margin-top:30px;
}